
.app-container{
    overflow: hidden;
    height: 90vh; 
    margin: 0;
    padding: 0;

}
@media screen and (orientation: landscape) {
    .app-container {
        height: 80vh;  /* Hide the body in landscape mode */
        background-color: rgb(255, 255, 255)
    }
  }